.btn-flat {
      background-color: #F46D10;
      color: white;
      padding-right: 40px;
      padding-left: 40px;
      font-weight: bold;
      font-family: roboto;
      padding-TOP: 9px;
    }

.btn-signUpCancel {
      background-color: #e9e9e9;
      color: rgb(32, 32, 32);
      padding-right: 40px;
      padding-left: 40px;
      font-weight: bold;
      font-family: roboto;
      padding-TOP: 9px;
    }


.btn-navBarButton {
      background-color: #0eb3ff81;
      color: white;
      padding-right: 40px;
      padding-left: 40px;
      font-weight: bold;
      font-family: roboto;
    }