.SignInFooterMargin {
  font-family: roboto;
  position: absolute;
  bottom: 0;
  margin-bottom: -60px;
  padding: 2vh;
  background-color: #F3F3F3;
  width: 105% !important;
}

.bodyTextFooter {
  font-size: 0.8em;
}

.footerColumn1 {
  margin-top: 10px;
}

@media (max-width: 700px){

  .signInContainer{
    flex-direction: column;
  }
  .footerColumn1{
    order: 1;
    width: 100%;
  }
  .footerColumn2{
    order: 2;
    width: 100%;
  }

}
