/* .imgColumn {
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center center;
}

.signUpImgDiv {
    height: auto;
    width: auto;
    aspect-ratio: 1;
    margin: 10vh auto;
    background-position: center center;

} */
/* 

.img0 {
    border-radius: 50%;
    background-image: url('../../Assets/img1.jpg');
} */
